$dur: 300ms;
$trans: ease-in-out;

.active {
    background-color: var(--danger);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    height: 100%;
}

a {
    overflow: hidden;
    flex: 1 1 0;
    color: var(--text);
    padding: 10px;
    border-right: 2px solid var(--text);
    text-decoration: none;
    transition: $dur $trans ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    div {
        transition: $dur $trans ;
        position: absolute;
        transform: translateX(200px);
    }

    span {
        font-size: 36px;
        transition: $dur $trans ;
    }
}

:last-child {
    border-right: 0px;
}

a:hover {
    transition: $trans $dur;
    background-color: var(--danger);

    div {
        transform: translateX(30px);
    }

    span {
        transform: translateX(-40px);
    }

}

p {
    padding: 0;
}

@media (min-width: 1024px) {
    nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    a {
        border-right: 0px;
        border-bottom: 2px solid var(--text);
        flex: none;
        padding: 20px;
        font-size: 1.25em;
        
        div {
            transform: translateX(160px);
        }
    }
}