header {
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--primary);
    transition: all 500ms;
}

span {
    // letter-spacing: 0;
    display: inline-block;
    transition: transform 500ms;
}

a:hover {
    letter-spacing: 10px;
    transition: all 500ms;

    span {
        transition: transform 500ms;
        transform:  rotateZ(-45deg) translateY(-3px);
    }
}

