<main>
    <app-header></app-header>
    <div class="test2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere, massa vel pulvinar placerat, sem massa vulputate dolor, vel finibus justo enim eu turpis. Sed tincidunt ornare mi. Praesent porta consectetur lectus in egestas. Pellentesque at metus sed velit ornare tempus sit amet ut neque. In augue ligula, pulvinar non facilisis non, commodo quis neque. Mauris commodo mauris eget est iaculis, ac egestas risus viverra. Duis semper ac augue et vulputate. Donec gravida, tortor vel fringilla dapibus, purus enim sollicitudin odio, nec euismod urna turpis vel orci. Aliquam in orci quam. Duis cursus lorem quis orci dapibus lacinia. Mauris hendrerit blandit lectus et luctus. Proin nec arcu eleifend, pretium odio eu, viverra lacus. Curabitur molestie pharetra tempor. Nunc vitae ullamcorper lacus, ac consequat enim. Suspendisse posuere nisi non justo accumsan egestas. Aliquam et est pretium, accumsan metus ultrices, lobortis lorem.

        </p>
        <p>Curabitur laoreet blandit gravida. Vestibulum faucibus augue tortor, et pretium odio mattis a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam ut consequat felis. Quisque blandit elit tortor. Etiam nec leo eget tortor viverra suscipit ut nec sapien. Donec pulvinar tortor quis feugiat congue.

        </p>
        <p>Mauris vehicula orci posuere nisi viverra consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla eu tortor dui. Duis risus mi, imperdiet ut ipsum viverra, dignissim posuere nibh. Donec mattis magna id lectus aliquet vulputate. Pellentesque at tortor eu turpis mollis commodo quis ut risus. Sed aliquet velit at vehicula egestas. Sed vehicula, est eu finibus varius, velit magna interdum lectus, ut feugiat purus justo et mauris. Nulla facilisi. Sed id dignissim mauris. Sed eleifend vel urna nec consectetur. Maecenas iaculis nisl sed lacus laoreet iaculis.

        </p>
    </div>
    <app-navbar></app-navbar>
</main>
<router-outlet></router-outlet>
