main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 2fr;
  grid-template-areas:
    "header"
    "main"
    "navbar";
  height: 100%;
}

app-header {
  grid-area: header;
  background-color: var(--background);
}


.main-content {
  grid-area: main;
  background-color: var(--background);
}

router-outlet {
  display: none;
}


app-navbar {
  grid-area: navbar;
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
      "header navbar"
      "main navbar";
  }

}
