<div class="container">
  <select>
    <option value="">Peppermint</option>
    <option value="">Fedora</option>
    <option value="">Windows</option>
  </select>
  <input type="text" />
  <button>Submit</button>
  <div class="response">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus, leo
      sit amet ultrices sagittis, sapien enim tempus est, et mollis ligula metus
      molestie libero. In maximus accumsan orci vitae ultricies. Nunc consequat
      egestas enim. Etiam eget blandit felis, et sollicitudin urna. Vivamus at
      massa sit amet justo pharetra pretium id a urna. Nam hendrerit, ex et
      cursus aliquam, sapien enim volutpat lorem, at tincidunt tortor ante in
      neque. Mauris tempor eleifend nisi vel interdum. Praesent eu turpis ut
      libero ullamcorper fermentum. Donec eleifend nulla hendrerit orci
      lobortis, ut elementum nisl lacinia. Fusce fringilla nibh eu enim
      pellentesque, sed cursus felis pharetra. Morbi consequat eros id tellus
      consectetur blandit. Praesent non ullamcorper purus.
    </p>
    <p>
      Aliquam in lacus scelerisque, dictum enim et, commodo nibh. In mollis
      ligula lacus, et dignissim dui bibendum sed. Integer metus ligula,
      bibendum at porttitor ut, dapibus at leo. Nam porttitor facilisis turpis,
      eu eleifend sapien auctor non. Aliquam volutpat sagittis nunc non
      interdum. Aliquam at tempus ex. Donec sodales turpis aliquam nibh gravida,
      et dapibus metus interdum. Nam tortor lectus, interdum nec lectus quis,
      tempus ornare urna.
    </p>
  </div>
</div>
