//Global Styles Sheet

//Variables
:root {
    --primary: #2A3D45;
    --text: #DDC9B4;
    --danger: #C17C74;
    --link: #06D6A0;
    --info: #33A8D0;
    --background: #E3EDF1;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

body {
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

app-root {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');